* {
  font-family: 'Crimson Text', serif;
  font-family: 'Work Sans', sans-serif;
}

main {
  width: 1440px;
}

.firstScreen {
  height: 586px;
  width: 1440px;
  background: #74C69D;

}

.headerBloc {
  display: flex;
  /* justify-content: space-between;   Розподіляє простір між зображенням і меню */
  align-items: center;
  height: 50px;
  width: 1175px;
  padding-left: 135px;
  padding-top: 35px;
}

.tStart {
  /* height: 50px;
  width: 99px; */
  color: #FFFFFF;

  font-family: Work Sans;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  /* margin-left: 88px;*/

}

.navMenu {
  display: flex;
  gap: 30px;
  padding-left: 649px;


}

.navMenu-item {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #FFFFFF;

}

.contentBloc {
  display: flex;
  /* align-items: center; */
  height: 380px;
  width: 1180px;
  margin-top: 40px;
  margin-left: 130px;
  /* background-color: gray; */
}

.contentBloc-data {
  width: 416px;
  height: 299px;
  /* gap: 25px; */

  margin-top: 40px;
  margin-left: 0px;

  /* background-color: red; */

}

.contentBloc-pic {
  width: 645px;
  height: 379px;
  margin-left: 120px;
  /* background-color: orangered; */
}

.contentBloc-data-WELCOME {
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contentBloc-data-txt {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  width: 416px;
  color: #FFFFFF;

}

.contentBloc-data-txt2 {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #FFFFFF;
}

.contentBloc-data-btn {

  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: #FFFFFF;

}

.contentBloc-data-btn-txt {

  width: 74px;
  height: 25px;
  padding-top: 13px;
  padding-left: 48px;

  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.contactsFrame {
  height: 370px;
  width: 1159px;
  background: #FFFFFF;

  margin-left: 140px;
  margin-top: 124px;

}

.frame25 {
  width: 411px;
  height: 162px;
  gap: 16px;
  margin-left: 374px;

}

.contactsFrame-petentium {
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;

  color: #74C69D;

}

.contactsFrame-contentiones {
  color: #000000;
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;


}

.contactsFrame-txt {
  color: #000000;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
}

.frame24 {
  width: 1159px;
  height: 50px;
  /* gap: 68px; */

  margin-top: 55px;

  display: flex;
  justify-content: space-between;
}

.contactsFrame-btn {

  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: #212529;

  margin-top: 55px;

  margin-left: 495px;

}

.contactsFrame-btn-txt {

  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;


  padding-top: 10px;
  padding-left: 28px;

  color: #FFFFFF;
}

.frame15 {
  width: 1180px;
  height: 431px;

  margin-top: 73px;
  margin-left: 130px;

  display: flex;

  justify-content: space-between;

  background: #FFFFFF;
}

.frame15-groupe {

  width: 600px;
  height: 431px;

  background: #FFFFFF;

}

.frame15-frame12 {
  width: 470px;
  height: 255px;
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
}

.frame15-frame12-caption {

  height: 100px;
  width: 462px;
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #212529;

}

.frame15-frame12-txt {

  color: #21252980;

  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;



}

.frame15-frame12-btn {

  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: #212529;

}

.frame15-frame12-btn-txt {

  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;

  padding-top: 10px;
  color: #FFFFFF;
}

.frame14 {
  width: 1180px;
  height: 566px;

  margin-top: 23px;
  margin-left: 130px;

  display: flex;

  justify-content: space-between;

  background: #FFFFFF;
}

.frame14-info {
  width: 470px;
  height: 255px;
  margin-top: 155px;
  gap: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #FFFFFF;
}

.frame14-info-caption {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #212529;

}

.frame14-info-txt {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #21252980;

}

.frame14-img {
  width: 600px;
  height: 565px;

  background: #FFFFFF;
}

.frame14-info-btn {

  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: #212529;

}

.frame14-info-btn-txt {

  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;

  padding-top: 10px;
  color: #FFFFFF;
}

.frame29 {

  width: 1176px;
  height: 599px;
  margin-top: 71px;
  gap: 45px;
  margin-left: 132px;

  background-color: #FFFFFF;
}


.frame29-info {
  width: 404px;
  height: 162px;
  gap: 16px;

  margin-left: 386px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #FFFFFF;
}

.frame29-info-team {
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;

  color: #74C69D;
}


.frame29-info-caption {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;

  color: #212529;

}

.frame29-info-txt {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;

  color: #000000;

}

.frame29-talents {

  width: 1176PX;
  height: 299PX;
  gap: 47px;

  margin-top: 45px;
  display: flex;
  justify-content: space-between;

  background-color: #FFFFFF;
}

.frame29-talents-item {
  width: 280px;
  height: 299px;

box-shadow: 3px 4px 12px 1px #00000040;




  background-color: #FFFFFF;
}

.frame29-talents-item-pic {
  width: 175px;
  height: 175px;

  margin-top: 20px;
  margin-left: 40px;

}